parameters:
    ignoreErrors:
        - '#Class Shopware\\.*not found#'
        - '#Class Symfony\\.*not found#'
        - '#Class Doctrine\\.*not found#'
        - '#Class Psr\\.*not found#'
        - '#Interface Symfony\\.*not found#'
        - '#Trait Shopware\\.*not found#'
    reportUnmatchedIgnoredErrors: false